//Text Colors
$textColor1: #555555;
$textColor2: #AAAAAA;
$textColor3: #ffffff;
//Base Colors
$baseColor1: #FCFCFC;
$baseColor2: #EEEEEE;
//Accent Colors
$accentColor: #FFA41C;
//Overlay Colors
$overlay1: rgba(60, 47, 16, 0.3);
$overlay2: rgba(255, 255, 255, 0.85);
//Main Colors
$mainColor1: #FAFAFA;

//Font Variables
$serif:"Noto Serif JP";
$sans:"Noto Sans JP";

$sp: 480px;